.userLogoMark-container {
     padding-left: 0%;
     margin-top: 10%;
}

.logo-01-mark,
.logo-02-mark,
.logo-03-mark {
    width: 250px;
    position: relative;
    img {
        width: 100%;
    }
}

.logo-01 {
    width: 40px;
    position: absolute;
    top: 110px;
    left: 50px;
    img {
        width: 100%;
    }
}

.logo-01-icon {
    width: 40px;
    position: absolute;
    top: 110px;
    left: 150px;
    img {
        width: 100%;
    }
}

.logo-02 {
    width: 40px;
    position: absolute;
    top: 153px;
    left: 100px;
    img {
        width: 100%;
    }
}
.logo-02-icon {
    width: 40px;
    position: absolute;
    top: 60px;
    left: 100px;
    img {
        width: 100%;
    }
}

.logo-03 {
    width: 40px;
    position: absolute;
    top: 95px;
    left: 100px;
    img {
        width: 100%;
    }
}

.label-logoMark {
    display: block;
    margin: 20px;
    float: left;
    text-align: center;
    transition: all .5s ease-in-out;
    // &:hover{
    //     transform: scale(1.05);
    // }
}

input.checked[type="radio"]{
    visibility:hidden;
}

.userLogoMark-container input[type="radio"]:checked + label {
    border: 3px solid black;
    transform: scale(1.10);
}


.userLogoMark-container .link-btn {
    display: block;
    margin: 0 auto;
    clear: both;
}