article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.mainHeader {
  margin: 20px 50px;
  height: 20px; }

.nav-left {
  float: left; }

.nav-right {
  float: right; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

li {
  display: inline;
  margin: 10px;
  position: relative; }
  li a:hover::before {
    position: absolute;
    content: '';
    height: 2px;
    margin: 0 auto;
    left: 0;
    top: 25px;
    width: 100%;
    background: #e59319; }

@media (max-width: 460px) {
  .nav-left {
    float: none;
    text-align: center; }
  .nav-right {
    float: none;
    text-align: center;
    padding-top: 25px; }
  .mainHeader {
    margin: 20px 20px; } }

.home,
.about,
.myBrands,
.contact {
  padding: 100px; }
  @media (max-width: 500px) {
    .home,
    .about,
    .myBrands,
    .contact {
      padding: 50px 0; } }

.copyright {
  padding: 20px 0px;
  background-color: white;
  color: #041a9b;
  text-align: center;
  margin: 0;
  font-size: 12px; }

.about {
  max-width: 100%;
  vertical-align: middle;
  margin: 0 auto; }

.about-text {
  max-width: 60%;
  display: inline-block;
  vertical-align: middle;
  padding-left: 100px; }

.about-image {
  max-width: 40%;
  display: inline-block;
  text-align: center;
  vertical-align: middle; }
  .about-image img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block; }

@media (max-width: 884px) {
  .about-text, .about-image {
    display: block;
    max-width: 100%;
    text-align: center; }
  .about-image img {
    height: 220px;
    width: 220px; }
  .about-text {
    padding: 0 50px; }
  .about, .app-container {
    padding: 0 !important; } }

@media (max-width: 480px) {
  .about-text {
    padding: 0 20px; } }

.home-left, .home-right {
  width: 50%;
  display: inline-block; }

.home-left img {
  height: 220px;
  width: 220px; }

.home-left p {
  max-width: 350px; }

.home {
  max-width: 100%;
  vertical-align: middle;
  margin: 0 auto; }

.orange-button {
  background-color: #e59319 !important; }

@media (max-width: 960px) {
  .home-left, .home-right {
    width: 100%;
    display: inline-block; }
  .home-right {
    padding-top: 20px; }
  .home-left {
    text-align: center; }
  .home {
    padding: 50px; } }

@media (max-width: 500px) {
  .home {
    padding: 0; } }

.log-in-launch {
  padding: 100px; }
  @media (max-width: 500px) {
    .log-in-launch {
      padding: 50px 0;
      text-align: center; } }

.contact-container {
  margin: 0 auto; }
  @media (max-width: 850px) {
    .contact-container {
      padding-top: 60px; } }

.contact {
  width: 100%;
  vertical-align: middle;
  margin: 0 auto; }
  @media (max-width: 850px) {
    .contact {
      padding: 0 !important;
      margin: 0 auto;
      text-align: center;
      top: 50%; } }

.contact-map iframe {
  width: 400px;
  height: 400px; }

.contact-map, .contact-text {
  max-width: 50%;
  display: inline-block;
  vertical-align: middle; }

.contact-map {
  float: right; }
  @media (max-width: 850px) {
    .contact-map {
      display: none; } }

.contact-text {
  padding-right: 200px;
  float: left; }
  .contact-text img {
    width: 100px;
    height: 100px; }
  @media (max-width: 950px) {
    .contact-text {
      padding-right: 100px; } }
  @media (max-width: 850px) {
    .contact-text {
      padding-right: 0;
      max-width: 100%;
      float: none;
      margin: 0 auto;
      text-align: center; } }

.orangeText {
  color: #e59319; }

.contact-text a {
  padding-right: 10px;
  color: #e59319; }

.slider {
  max-width: 100%; }
  @media (max-width: 500px) {
    .slider {
      width: 95%; } }
  .slider img {
    width: 100%;
    height: auto; }

.slick-slide {
  margin: 0; }

.slick-list {
  max-height: 351px;
  max-width: 100%; }

.slider-img-container {
  width: 100%; }

.radio {
  display: inline-block; }

.btn-color {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  margin: 10px;
  display: inline-block;
  position: relative;
  cursor: pointer; }
  .btn-color:active, .btn-color:hover, .btn-color:focus {
    border: black solid 2px;
    color: white; }

.radio input[type="radio"] {
  position: fixed;
  opacity: 0; }

.radio input[type="radio"]:checked + label {
  border: 3px solid black; }

.radio input[type="radio"]:checked + label:after {
  content: "\2713";
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100%;
  border: 2px solid #333;
  background-color: #e59319;
  z-index: 999;
  position: absolute;
  top: -10px;
  right: -10px; }

.layout-one {
  background: #000000; }

.layout-two {
  background: #468189; }

.layout-three {
  background: #3D348B; }

.layout-four {
  background: #706361; }

.layout-five {
  background: #F55536; }

.color-one {
  color: #000000; }

.color-two {
  color: #468189; }

.color-three {
  color: #3D348B; }

.color-four {
  color: #706361; }

.color-five {
  color: #F55536; }

.UserInputColorContainer {
  margin: 0 auto;
  text-align: center;
  height: 100vh; }
  @media (max-width: 720px) {
    .UserInputColorContainer {
      width: 80%;
      padding-top: 50px; } }

.content-container {
  float: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 85px; }
  @media (max-width: 715px) {
    .content-container {
      padding-top: 200px; } }
  @media (max-width: 480px) {
    .content-container {
      padding-top: 460px; } }

.link-container {
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -95%); }

.colorContainer {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  border: 1px solid black; }
  .colorContainer div {
    width: 100%; }

.uitWrapper {
  width: 100%; }
  .uitWrapper form {
    width: 45%;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px; }
    .uitWrapper form label {
      width: 100%;
      margin: 0 auto;
      float: left;
      font-size: 24px; }
    .uitWrapper form input[type="text"] {
      width: 100%;
      float: left;
      margin: 25px 0; }
    .uitWrapper form input[type="search"]:nth-child(2) {
      margin-left: 10px;
      margin-right: 10px; }
    .uitWrapper form .searchHolder {
      width: 100%;
      clear: both; }
      .uitWrapper form .searchHolder input[type="search"] {
        width: 30%;
        margin-top: 10px;
        margin-bottom: 10px;
        float: left; }
    .uitWrapper form .btnHolder {
      text-align: center;
      width: 100%;
      padding-top: 50px; }
      .uitWrapper form .btnHolder input[type="submit"] {
        width: 200px;
        height: 35px; }
  .uitWrapper .linkContainer {
    width: 5%;
    float: left;
    position: absolute;
    left: 95%;
    top: 50%;
    transform: translate(-50%, -50%); }

@media (max-width: 460px) {
  input#query, input#query2, input#query3 {
    width: 100%;
    float: none; }
  input#query2 {
    margin-left: 0; }
  .uitWrapper form {
    padding-top: 80px; } }

.uliWrapper {
  width: 100%;
  position: relative;
  padding-top: 100px; }
  @media (max-width: 600px) {
    .uliWrapper {
      padding-top: 25px; } }
  .uliWrapper h2 {
    text-align: center; }
  .uliWrapper .logoSelector {
    width: calc(60% - 40px);
    float: left;
    margin-left: 40px; }
    @media (max-width: 600px) {
      .uliWrapper .logoSelector {
        width: calc(90% - 40px);
        float: none; } }
    .uliWrapper .logoSelector .icon_ctn {
      width: 30%;
      float: left;
      padding: 5px; }
      .uliWrapper .logoSelector .icon_ctn button {
        background: white;
        width: 100%; }
        .uliWrapper .logoSelector .icon_ctn button img {
          width: 100%; }
      .uliWrapper .logoSelector .icon_ctn .icon_btn {
        border: 1px solid red; }
  .uliWrapper .logoSelection {
    max-width: 30%;
    float: left;
    margin: 0 auto; }
    @media (max-width: 600px) {
      .uliWrapper .logoSelection {
        float: none;
        width: 100%; } }
    .uliWrapper .logoSelection .logoContainer {
      width: 90%;
      padding: 10px;
      margin: 0 auto; }
      .uliWrapper .logoSelection .logoContainer img {
        width: 100%;
        background: white; }
  .uliWrapper .linkContainer {
    width: 5%;
    float: left;
    position: absolute;
    left: 95%;
    top: 50%;
    transform: translate(-50%, -50%); }

@media (max-width: 1230px) {
  .icon_ctn {
    width: 50%; } }

@media (max-width: 960px) {
  .logoSelection {
    max-width: 30%;
    float: left;
    margin: 0 auto; }
    .logoSelection .logoContainer {
      width: 70%;
      padding: 10px;
      margin: 0 auto; }
      .logoSelection .logoContainer img {
        width: 70%;
        background: white; } }

@media (max-width: 600px) {
  .logoContainer {
    width: 60%; } }

.tshirt-container,
.stationary-container {
  position: relative; }
  .tshirt-container .tshirt,
  .tshirt-container .stationary,
  .stationary-container .tshirt,
  .stationary-container .stationary {
    padding-left: 50px;
    padding-bottom: 50px; }
  .tshirt-container .tshirt,
  .stationary-container .tshirt {
    width: 700px;
    padding-left: 100px; }
    @media (max-width: 750px) {
      .tshirt-container .tshirt,
      .stationary-container .tshirt {
        width: 500px; } }
    @media (max-width: 500px) {
      .tshirt-container .tshirt,
      .stationary-container .tshirt {
        display: none; } }
  .tshirt-container .stationary,
  .stationary-container .stationary {
    width: 800px; }
    @media (max-width: 900px) {
      .tshirt-container .stationary,
      .stationary-container .stationary {
        display: none; } }

.logoMark-container-tshirt,
.logoMark-container-stationary1,
.logoMark-container-stationary2,
.logoMark-container-stationary3 {
  position: absolute; }

.logoMark-container-tshirt {
  width: 200px;
  top: 300px;
  left: 275px; }
  @media (max-width: 500px) {
    .logoMark-container-tshirt {
      position: static;
      padding-left: 50px;
      padding-top: 100px; } }
  @media (max-width: 750px) {
    .logoMark-container-tshirt {
      top: 200px;
      left: 150px; } }

.logoMark-container-stationary1 {
  width: 90px;
  top: 110px;
  left: 120px; }
  @media (max-width: 900px) {
    .logoMark-container-stationary1 {
      display: none; } }
  .logoMark-container-stationary1 .logo-01-mark {
    width: auto; }
  .logoMark-container-stationary1 .logo-01 {
    width: 20px;
    left: 15px;
    top: 35px; }
  .logoMark-container-stationary1 .logo-01-icon {
    width: 20px;
    left: 54px;
    top: 35px; }
  .logoMark-container-stationary1 .logo-02-mark {
    width: auto; }
  .logoMark-container-stationary1 .logo-02 {
    width: 15px;
    left: 36.5px;
    top: 20px; }
  .logoMark-container-stationary1 .logo-02-icon {
    width: 15px;
    left: 36.5px;
    top: 55px; }
  .logoMark-container-stationary1 .logo-03-mark {
    width: auto; }
  .logoMark-container-stationary1 .logo-03 {
    width: 25px;
    left: 33px;
    top: 27px; }

.logoMark-container-stationary2 {
  width: 120px;
  top: 330px;
  left: 515px; }
  @media (max-width: 900px) {
    .logoMark-container-stationary2 {
      display: none; } }
  .logoMark-container-stationary2 .logo-01-mark {
    width: auto; }
  .logoMark-container-stationary2 .logo-01 {
    width: 30px;
    left: 16px;
    top: 45px; }
  .logoMark-container-stationary2 .logo-01-icon {
    width: 30px;
    left: 71px;
    top: 45px; }
  .logoMark-container-stationary2 .logo-02-mark {
    width: auto; }
  .logoMark-container-stationary2 .logo-02 {
    width: 25px;
    left: 47.5px;
    top: 25px; }
  .logoMark-container-stationary2 .logo-02-icon {
    width: 25px;
    left: 47.5px;
    top: 70px; }
  .logoMark-container-stationary2 .logo-03-mark {
    width: auto; }
  .logoMark-container-stationary2 .logo-03 {
    width: 25px;
    left: 47px;
    top: 40px; }

.btnHolder {
  margin: 0 auto; }

.userLogoMark-container {
  padding-left: 0%;
  margin-top: 10%; }

.logo-01-mark,
.logo-02-mark,
.logo-03-mark {
  width: 250px;
  position: relative; }
  .logo-01-mark img,
  .logo-02-mark img,
  .logo-03-mark img {
    width: 100%; }

.logo-01 {
  width: 40px;
  position: absolute;
  top: 110px;
  left: 50px; }
  .logo-01 img {
    width: 100%; }

.logo-01-icon {
  width: 40px;
  position: absolute;
  top: 110px;
  left: 150px; }
  .logo-01-icon img {
    width: 100%; }

.logo-02 {
  width: 40px;
  position: absolute;
  top: 153px;
  left: 100px; }
  .logo-02 img {
    width: 100%; }

.logo-02-icon {
  width: 40px;
  position: absolute;
  top: 60px;
  left: 100px; }
  .logo-02-icon img {
    width: 100%; }

.logo-03 {
  width: 40px;
  position: absolute;
  top: 95px;
  left: 100px; }
  .logo-03 img {
    width: 100%; }

.label-logoMark {
  display: block;
  margin: 20px;
  float: left;
  text-align: center;
  transition: all .5s ease-in-out; }

input.checked[type="radio"] {
  visibility: hidden; }

.userLogoMark-container input[type="radio"]:checked + label {
  border: 3px solid black;
  transform: scale(1.1); }

.userLogoMark-container .link-btn {
  display: block;
  margin: 0 auto;
  clear: both; }

body {
  background-color: white; }

.mainFont {
  font-family: "Merriweather", serif;
  color: #666666; }

h1, h2 {
  font-family: "Merriweather", serif;
  color: #666666; }

.app-container {
  margin: 20px; }
  @media (max-width: 500px) {
    .app-container {
      height: 100vh;
      border: none; } }

h3 {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px; }

p {
  font-family: "Helvetica", sans-serif; }

a {
  text-decoration: none;
  font-family: "Merriweather", serif;
  color: #666666; }

button {
  border: none;
  background-color: none; }
  button:hover {
    transform: scale(1.05);
    transition: all .5s ease-in-out; }

.link-btn, .button {
  background: #e59319;
  font-family: "Merriweather", serif;
  border-radius: 12px;
  padding: 5px 30px;
  color: white; }

.home-container,
.about-container,
.contact-container,
.myBrands-container,
.uitWrapper, .uliWrapper, .signin, .userLogoMark-container {
  height: 100vh; }

.about {
  max-width: 100%;
  vertical-align: middle;
  margin: 0 auto; }

.about-text {
  max-width: 60%;
  display: inline-block;
  vertical-align: middle;
  padding-left: 100px; }

.about-image {
  max-width: 40%;
  display: inline-block;
  text-align: center;
  vertical-align: middle; }
  .about-image img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block; }

@media (max-width: 884px) {
  .about-text, .about-image {
    display: block;
    max-width: 100%;
    text-align: center; }
  .about-image img {
    height: 220px;
    width: 220px; }
  .about-text {
    padding: 0 50px; }
  .about, .app-container {
    padding: 0 !important; } }

@media (max-width: 480px) {
  .about-text {
    padding: 0 20px; } }

.contact-container {
  margin: 0 auto; }
  @media (max-width: 850px) {
    .contact-container {
      padding-top: 60px; } }

.contact {
  width: 100%;
  vertical-align: middle;
  margin: 0 auto; }
  @media (max-width: 850px) {
    .contact {
      padding: 0 !important;
      margin: 0 auto;
      text-align: center;
      top: 50%; } }

.contact-map iframe {
  width: 400px;
  height: 400px; }

.contact-map, .contact-text {
  max-width: 50%;
  display: inline-block;
  vertical-align: middle; }

.contact-map {
  float: right; }
  @media (max-width: 850px) {
    .contact-map {
      display: none; } }

.contact-text {
  padding-right: 200px;
  float: left; }
  .contact-text img {
    width: 100px;
    height: 100px; }
  @media (max-width: 950px) {
    .contact-text {
      padding-right: 100px; } }
  @media (max-width: 850px) {
    .contact-text {
      padding-right: 0;
      max-width: 100%;
      float: none;
      margin: 0 auto;
      text-align: center; } }

.orangeText {
  color: #e59319; }

.contact-text a {
  padding-right: 10px;
  color: #e59319; }

.copyright {
  padding: 20px 0px;
  background-color: white;
  color: #041a9b;
  text-align: center;
  margin: 0;
  font-size: 12px; }

.home-left, .home-right {
  width: 50%;
  display: inline-block; }

.home-left img {
  height: 220px;
  width: 220px; }

.home-left p {
  max-width: 350px; }

.home {
  max-width: 100%;
  vertical-align: middle;
  margin: 0 auto; }

.orange-button {
  background-color: #e59319 !important; }

@media (max-width: 960px) {
  .home-left, .home-right {
    width: 100%;
    display: inline-block; }
  .home-right {
    padding-top: 20px; }
  .home-left {
    text-align: center; }
  .home {
    padding: 50px; } }

@media (max-width: 500px) {
  .home {
    padding: 0; } }

.home,
.about,
.myBrands,
.contact {
  padding: 100px; }
  @media (max-width: 500px) {
    .home,
    .about,
    .myBrands,
    .contact {
      padding: 50px 0; } }

.userLogoMark-container {
  padding-left: 0%;
  margin-top: 10%; }

.logo-01-mark,
.logo-02-mark,
.logo-03-mark {
  width: 250px;
  position: relative; }
  .logo-01-mark img,
  .logo-02-mark img,
  .logo-03-mark img {
    width: 100%; }

.logo-01 {
  width: 40px;
  position: absolute;
  top: 110px;
  left: 50px; }
  .logo-01 img {
    width: 100%; }

.logo-01-icon {
  width: 40px;
  position: absolute;
  top: 110px;
  left: 150px; }
  .logo-01-icon img {
    width: 100%; }

.logo-02 {
  width: 40px;
  position: absolute;
  top: 153px;
  left: 100px; }
  .logo-02 img {
    width: 100%; }

.logo-02-icon {
  width: 40px;
  position: absolute;
  top: 60px;
  left: 100px; }
  .logo-02-icon img {
    width: 100%; }

.logo-03 {
  width: 40px;
  position: absolute;
  top: 95px;
  left: 100px; }
  .logo-03 img {
    width: 100%; }

.label-logoMark {
  display: block;
  margin: 20px;
  float: left;
  text-align: center;
  transition: all .5s ease-in-out; }

input.checked[type="radio"] {
  visibility: hidden; }

.userLogoMark-container input[type="radio"]:checked + label {
  border: 3px solid black;
  transform: scale(1.1); }

.userLogoMark-container .link-btn {
  display: block;
  margin: 0 auto;
  clear: both; }

.tshirt-container,
.stationary-container {
  position: relative; }
  .tshirt-container .tshirt,
  .tshirt-container .stationary,
  .stationary-container .tshirt,
  .stationary-container .stationary {
    padding-left: 50px;
    padding-bottom: 50px; }
  .tshirt-container .tshirt,
  .stationary-container .tshirt {
    width: 700px;
    padding-left: 100px; }
    @media (max-width: 750px) {
      .tshirt-container .tshirt,
      .stationary-container .tshirt {
        width: 500px; } }
    @media (max-width: 500px) {
      .tshirt-container .tshirt,
      .stationary-container .tshirt {
        display: none; } }
  .tshirt-container .stationary,
  .stationary-container .stationary {
    width: 800px; }
    @media (max-width: 900px) {
      .tshirt-container .stationary,
      .stationary-container .stationary {
        display: none; } }

.logoMark-container-tshirt,
.logoMark-container-stationary1,
.logoMark-container-stationary2,
.logoMark-container-stationary3 {
  position: absolute; }

.logoMark-container-tshirt {
  width: 200px;
  top: 300px;
  left: 275px; }
  @media (max-width: 500px) {
    .logoMark-container-tshirt {
      position: static;
      padding-left: 50px;
      padding-top: 100px; } }
  @media (max-width: 750px) {
    .logoMark-container-tshirt {
      top: 200px;
      left: 150px; } }

.logoMark-container-stationary1 {
  width: 90px;
  top: 110px;
  left: 120px; }
  @media (max-width: 900px) {
    .logoMark-container-stationary1 {
      display: none; } }
  .logoMark-container-stationary1 .logo-01-mark {
    width: auto; }
  .logoMark-container-stationary1 .logo-01 {
    width: 20px;
    left: 15px;
    top: 35px; }
  .logoMark-container-stationary1 .logo-01-icon {
    width: 20px;
    left: 54px;
    top: 35px; }
  .logoMark-container-stationary1 .logo-02-mark {
    width: auto; }
  .logoMark-container-stationary1 .logo-02 {
    width: 15px;
    left: 36.5px;
    top: 20px; }
  .logoMark-container-stationary1 .logo-02-icon {
    width: 15px;
    left: 36.5px;
    top: 55px; }
  .logoMark-container-stationary1 .logo-03-mark {
    width: auto; }
  .logoMark-container-stationary1 .logo-03 {
    width: 25px;
    left: 33px;
    top: 27px; }

.logoMark-container-stationary2 {
  width: 120px;
  top: 330px;
  left: 515px; }
  @media (max-width: 900px) {
    .logoMark-container-stationary2 {
      display: none; } }
  .logoMark-container-stationary2 .logo-01-mark {
    width: auto; }
  .logoMark-container-stationary2 .logo-01 {
    width: 30px;
    left: 16px;
    top: 45px; }
  .logoMark-container-stationary2 .logo-01-icon {
    width: 30px;
    left: 71px;
    top: 45px; }
  .logoMark-container-stationary2 .logo-02-mark {
    width: auto; }
  .logoMark-container-stationary2 .logo-02 {
    width: 25px;
    left: 47.5px;
    top: 25px; }
  .logoMark-container-stationary2 .logo-02-icon {
    width: 25px;
    left: 47.5px;
    top: 70px; }
  .logoMark-container-stationary2 .logo-03-mark {
    width: auto; }
  .logoMark-container-stationary2 .logo-03 {
    width: 25px;
    left: 47px;
    top: 40px; }

.btnHolder {
  margin: 0 auto; }

.mainHeader {
  margin: 20px 50px;
  height: 20px; }

.nav-left {
  float: left; }

.nav-right {
  float: right; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

li {
  display: inline;
  margin: 10px;
  position: relative; }
  li a:hover::before {
    position: absolute;
    content: '';
    height: 2px;
    margin: 0 auto;
    left: 0;
    top: 25px;
    width: 100%;
    background: #e59319; }

@media (max-width: 460px) {
  .nav-left {
    float: none;
    text-align: center; }
  .nav-right {
    float: none;
    text-align: center;
    padding-top: 25px; }
  .mainHeader {
    margin: 20px 20px; } }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.log-in-launch {
  padding: 100px; }
  @media (max-width: 500px) {
    .log-in-launch {
      padding: 50px 0;
      text-align: center; } }

.slider {
  max-width: 100%; }
  @media (max-width: 500px) {
    .slider {
      width: 95%; } }
  .slider img {
    width: 100%;
    height: auto; }

.slick-slide {
  margin: 0; }

.slick-list {
  max-height: 351px;
  max-width: 100%; }

.slider-img-container {
  width: 100%; }
