.tshirt-container,
.stationary-container {
    position: relative;
    
    .tshirt,
    .stationary {
        padding-left: 50px;
        padding-bottom: 50px;
    }
    .tshirt{
        width: 700px;
        padding-left: 100px;

        @media (max-width: 750px) {
            width: 500px;
        }
        @media (max-width: 500px) {
            display: none;
        }
    }
    .stationary{
        width: 800px;

        @media (max-width: 900px) {
            display: none;
        }
    }
}

.logoMark-container-tshirt, 
.logoMark-container-stationary1,
.logoMark-container-stationary2,
.logoMark-container-stationary3 {
    position: absolute;
}

.logoMark-container-tshirt {
    width: 200px;
    top: 300px;
    left: 275px;

    @media (max-width: 500px) {
        position: static;
        padding-left: 50px;
        padding-top: 100px;
    }

    @media (max-width: 750px) {
        top: 200px;
        left: 150px;
    }   
}

.logoMark-container-stationary1 {
    width: 90px;
    top: 110px;
    left: 120px;

    @media (max-width: 900px) {
            display: none;
        }

    // position absolute for the stationary layout logo 1
   .logo-01-mark {
       width: auto;
   }
   .logo-01 {
    width: 20px;
    left: 15px;
    top: 35px;
   }
   .logo-01-icon {
    width: 20px;
    left: 54px;
    top: 35px;
   }

   // position absolute for the stationary layout logo 2
   .logo-02-mark {
       width: auto;
   }
   .logo-02 {
    width: 15px;
    left: 36.5px;
    top: 20px;
   }
   .logo-02-icon {
    width: 15px;
    left: 36.5px;
    top: 55px;
   }

   // position absolute for the stationary layout logo 3
   .logo-03-mark {
       width: auto;
   }
   .logo-03 {
    width: 25px;
    left: 33px;
    top: 27px;
   }
}

.logoMark-container-stationary2 {
    width: 120px;
    top: 330px;
    left: 515px;

    @media (max-width: 900px) {
            display: none;
        }

    // position absolute for the stationary layout logo 1
   .logo-01-mark {
       width: auto;
   }
   .logo-01 {
    width: 30px;
    left: 16px;
    top: 45px;
   }
   .logo-01-icon {
    width: 30px;
    left: 71px;
    top: 45px;
   }
   // position absolute for the stationary layout logo 2
    .logo-02-mark {
       width: auto;
   }
    .logo-02 {
    width: 25px;
    left: 47.5px;
    top: 25px;
   }
    .logo-02-icon {
    width: 25px;
    left: 47.5px;
    top: 70px;
   }
   // position absolute for the stationary layout logo 3
    .logo-03-mark {
       width: auto;
   }
    .logo-03 {
        width: 25px;
        left: 47px;
        top: 40px;
   }
}

.btnHolder {
    margin: 0 auto;
}

